html {
  width: 100%; height: 100%;
}

body.home {
  width: 100%; height: 100%;
}

body.home .carousel {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
}

body.home .carousel .carousel-inner {
  height: 100%;
  background-color: #323232;
}

body.home .carousel .item {
  position: absolute;
  width: 100%; height: 100%;
  background-size: cover;
}

body.home .carousel .item .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
}

body.home .carousel .item .container,
body.home .carousel .item .row,
body.home .carousel .item .col-md-5 {
  height: 100%;
  z-index: 2
}

body.home .carousel .item .col-md-5 {
  display: flex;
  align-items: center;

}

body.home .carousel .item .base-texto-banner  {
  height: 348px;
  color: #ffffff;
  padding: 36px 24px 36px 24px;
  border-left: 2px solid #ffffff;
  font-family: 'Montserrat', sans-serif;
}

body.home .carousel .item .base-texto-banner h3 {
  font-size: 18px;
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  margin: 0; padding: 0 0 12px 0;
}

body.home .carousel .item .base-texto-banner h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 36px 0 24px 0;
}

body.home .carousel .item .base-texto-banner .btn-banner {
  display: block;
  width: 60%;
  padding: 12px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #ffffff;
  transition: all .3s ease;
}

body.home .carousel .item .base-texto-banner .btn-banner:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: #323232;
}

body.home .carousel .item .base-texto-banner a.link-todas {
  display: inline-block;
  color: #ffffff;
  font-style: italic;
  margin: 36px 0 0 0;
  text-decoration: underline;
}

.base-banner-home {
  position: absolute;
  top: 0; left: 11%; right: 48%;
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  z-index: 1;
}

.base-banner-home h2 {
  color: #ffffff;
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  margin: 0; padding: 0;
  font-family: 'Merriweather', serif;
}

.base-banner-home .busca-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-banner-home .busca-banner .form-custom {
  flex: 4;
  margin: 18px 0 0 0;
}

.base-banner-home .busca-banner .form-custom:nth-child(3) {
  flex: 1;
}

.base-banner-home .busca-banner input {
  width: 100%;
  font-style: italic;
  color: #323232;
  font-family: 'Merriweather', serif;
  margin: 0; padding: 12px;
  border: 0; outline: 0px;
}

.base-banner-home .busca-banner .form-custom:nth-child(1) input {
  border-right: 2px solid #cccccc;
}

.base-banner-home .busca-banner button {
  width: 100%;
  color: #ffffff;
  margin: 0; padding: 12px;
  border: 0px; outline: 0px;
  background-color: #d70d2a;
}

body.home .base-rodape {
  position: fixed;
  width: 100%;
  left: 0; bottom: 0;
  margin: 0;
  z-index: 3;
}

.base-banner-home a.busca-especial{
  display: block;
  font-size: 14px;
  color: #ffffff;
  margin: 18px 0 18px 0;
  font-style: italic;
  text-decoration: underline;
  font-family: 'Merriweather', serif;
}

.opcoes-busca-direta {
  margin: 12px 0 0 0;
  background-color: rgba(255,255,255,0.3);
}

.opcoes-busca-direta ul {
  list-style: none;
  margin: 0; padding: 18px 24px 24px 24px;
}

.opcoes-busca-direta ul li {
  margin: 6px 0 0 0;
}

.opcoes-busca-direta ul li a {
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}