.base-detalhe-job {
  margin: 36px 0 0 0
}

.base-detalhe-job .btn-custom {
  margin: 16px 0 0 0
}

.base-detalhe-job h4.outros {
  font-weight: bold;
  text-transform: uppercase;
  margin: 24px 0 0 0; padding: 0;
}

.base-side-vaga {
  padding: 0 24px 0 0;
}

.base-side-vaga .btn {
  width: 100%;
  margin: 36px 0 18px 0;
  padding: 12px 0;
  color: #ffffff;
  display: block;
  border-radius: 0px;
  text-transform: uppercase;
  background-color: #1188c0;
}

.base-side-vaga .btn.btn-light {
  position: relative;
  background-color: #71caf3;
}

.base-side-vaga .btn.btn-light .counter {
  position: absolute;
  width: 24px; height: 24px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  background-color: #2c8db5;
  top: 9px; right: 18px;
  padding: 2px;
}

.base-side-vaga img {
  width: 100%;
}

.base-vaga-box {
  display: block;
  color: #323232;
  position: relative;
  margin: 36px 0 24px 0;
  padding: 24px 36px;
  width: 100%; height: auto;
  background-color: #ffffff;
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
}

.base-vaga-box:hover,
.base-vaga-box:focus {
  text-decoration: none; outline: none;
}

.base-vaga-box .data {
  position: absolute;
  top: 0; left: -48px;
  font-weight: 700;
  width: 48px;height: 60px;
  margin: 0; padding: 10px 0;
  text-align: center;
  color:#ffffff;
  background-color: #1188c0;
}

.base-vaga-box h2 {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
  margin: 12px 0; padding: 0 0 16px 0;
}

.base-vaga-box h2 span {
  float: right;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #858585;
  margin: 10px 0 0 0;
}

.base-vaga-box .tags-vaga {
  display: flex;
  margin: 24px 0 36px 0;
  justify-content: flex-start;
}

.base-vaga-box .tags-vaga .item {
  display: flex;
  align-items: center;
  margin: 0 60px 0 0;
}

.base-vaga-box .tags-vaga .item .base-icone {
  font-size: 18px;
  font-weight: bold;
  margin: 0 6px 0 0;
}

.base-vaga-box .desc-vaga p {
  color: #858585;
  margin: 12px 0 0 0;
  line-height: 24px;
}

.base-vaga-box .desc-vaga p strong {
  color: #323232;
}

.base-vaga-box .vaga-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #efefef;
  margin: 24px 0 0 0; padding: 24px 0 0 0;
}

.base-vaga-box .vaga-footer .base-share {
  position: relative;
  margin: 0 18px 0 0;
}

.base-vaga-box .vaga-footer .base-share .base-hover {
  justify-content: space-around;
  width: 100%;
  position: absolute;
  top: 2px; left: 0;
  display: flex;
  transition: all .3s ease;
  z-index: 1;
}

.base-vaga-box .vaga-footer .base-share .base-hover a {
  text-decoration: none;
  color: #2c8db5;
}

.base-vaga-box .vaga-footer .base-share .base-hover a i {
  font-size: 28px;
  background-color: #ffffff;
  border-radius: 50%;
}

.base-vaga-box .vaga-footer .base-share:hover .base-hover {
  transform: translate(0,-36px);
}

.base-vaga-box .vaga-footer a.share-btn {
  display: flex;
  padding: 6px 36px;
  color: #ffffff;
  align-items: center;
  text-transform: uppercase;
  background-color: #71caf3;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.base-vaga-box .vaga-footer a.share-btn .base-icone {
  position: relative;
  font-size: 18px;
  margin: 0 6px 0 0;
  z-index: 2;
}

.base-vaga-box .vaga-footer a.share-btn h4 {
  position: relative;
  z-index: 2;
}

.base-vaga-box .vaga-footer .acessar-btn {
  display: flex;
  padding: 6px 36px;
  color: #ffffff;
  align-items: center;
  text-transform: uppercase;
  background-color: #1188c0;
  text-decoration: none;
}

.base-vaga-box .vaga-footer .acessar-btn .base-icone {
  font-size: 18px;
  margin: 0 6px 0 0;
}

.base-vaga-box.relacionados .tags-vaga {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0 0px 0;
  justify-content: space-between;
}

.base-vaga-box.relacionados .tags-vaga .item {
  margin: 0 24px 12px 0;
}







