.busca-news {
  margin: 24px 0 0 0;
}

.busca-news .form-custom {
  display: flex;
}

.busca-news .form-custom input {
  flex: 2;
  font-family: 'Merriweather', serif;
  border: 0px; outline: none;
  padding: 12px 12px;
}

.busca-news .form-custom input::placeholder {
  font-weight: 300;
  font-style: italic; color: #cccccc;
  font-family: 'Merriweather', serif;
}

.busca-news .form-custom button {
  font-size: 18px;
  padding: 0 15px;
  color: #ffffff;
  border: 0px; outline: none;
  background-color: #d81a35;
}

.base-noticias h2 {
  font-size: 24px;
  font-weight: bold;
  color: #1b6685;
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
  margin: 36px 0 0 0; padding: 0 0 12px 0;
}

.base-noticias .noticia-box {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%; height: 228px;
  text-decoration: none;
  margin: 24px 0 0 0; padding: 0 132px 24px 24px;
}

.base-noticias .noticia-box.big {
  height: 480px;
}


.base-noticias .noticia-box .img-noticia-bg {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.base-noticias .noticia-box .title-noticia {
  position: relative;
  color: #ffffff; padding: 18px 36px 18px 18px;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
}

.base-noticias .noticia-box .title-noticia h2 {
  font-size: 16px;
  font-weight: bold;
}

.base-img-noticia {
  width: 100%;
  height: auto;
  color: #ffffff;
  margin: 0 0 24px 0;
  padding: 36px 0;
  position: relative;
  background-size: cover;
  background-position: center;
}

.base-img-noticia .overlay {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

.base-img-noticia .container {
  position: relative;
  z-index: 2;
}

.base-img-noticia h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 6px 0; padding: 0;
}

.conteudo-noticia {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 60px rgba(0,0,0,.1);
  margin: 24px 0 0 0; padding: 36px;
}

.conteudo-noticia p {
  font-size: 12px;
  line-height: 18px;
  color: #858585;
}

.conteudo-noticia p ~ p {
  margin: 16px 0 0 0; padding: 0;
}

.conteudo-noticia .share-news {
  display: flex;
  position: absolute;
  top: 36px; left: -60px;
  align-content: flex-start;
  flex-direction: column;
}

.conteudo-noticia .share-news a {
  flex: 1;
  font-size: 36px;
  text-decoration: none;
}

.base-side-bar .item {
  border-top: 1px solid #dbdbdb;
  margin: 24px 0 0 0; padding: 36px 0 0 0;
}

.base-side-bar .item h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 24px 0; padding: 0;
  text-transform: uppercase;
}

.base-side-bar .item ul {
  list-style: none;
  margin: 0; padding: 0;
}

.base-side-bar .item ul li a {
  color: #4c4c4c;
}

.base-side-bar .item.categorias ul li {
  margin: 6px 0 0 0;
}

.base-side-bar .item.tags ul li {
  display: inline-block;
  margin: 0 4px 0 0;
}

.base-side-bar .item.tags ul li:after {
  content: ", ";
}

.base-side-bar .item.tags ul li:last-child:after {
  content:"";
}

.base-side-bar .item.relacionadas ul li a {
  display: block;
  text-decoration: none;
  position: relative;
  margin: 18px 0 0 0;
}

.base-side-bar .item ul li a .img-relacionada {
  width: 100%; height: auto
}

.base-side-bar .item ul li a .img-relacionada img {
  width: 100%;
}

.base-side-bar .item ul li a h5 {
  font-weight: 700;
  margin: 12px 0 0 0;
}


















