.base-menu-perfil {
  background-color: #ffffff;
  text-align: center;
  margin: 60px 0 24px 0; padding: 0 14px;
  box-shadow: 0 0 60px rgba(0,0,0,.1);
}

.base-menu-perfil ul {
  list-style: none;
  padding: 0;
}

.base-menu-perfil ul li {
  margin:  0 0 0 0;
}

.base-menu-perfil a {
  display: block;
  color: #515151;
  font-size: 11px;
  font-weight: bold;
  padding: 20px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  text-decoration: none;
}

.base-menu-perfil li.active a {
  color: #2c8db5;
}

.base-menu-perfil li:last-child a {
  border: 0px;
}

.base-avatar {
  position: relative;
  overflow: hidden;
  margin: 60px 0 0 0;
  border: 6px solid #ccc;
  width: 100%; height: 288px;
}

.base-avatar .img-adapt {
  position: absolute;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
}

.base-perfil-ficha {
  margin: 60px 0 0 0;
}

.base-perfil-ficha h1 {
  color: #1b6685;
  font-size: 18px;
  font-weight: bold;
}

.base-perfil-ficha h4 {
  font-size: 12px;
  color: #858585;
  font-weight: bold;
  margin: 18px 0;
  text-transform: uppercase;
}

.base-perfil-ficha ul {
  list-style: none;
  margin: 0; padding: 0;
}

.base-perfil-ficha ul li {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0 0 12px 0;
}

.base-perfil-ficha ul li .category {
  flex: 2;
  font-weight: bold;
}

.base-perfil-ficha ul li .category + div {
  text-align: right;
  font-weight: normal;
  align-self: flex-end;
}


.base-formulario {
  margin: 24px 0 132px 0; padding: 0;
}

.base-formulario h5 {
  font-size: 12px;
  color: #858585;
  font-weight: bold;
  margin: 0 0 18px 0;
}

.base-formulario h4 {
  font-size: 16px;
  font-weight: 700;
  color: #858585;
  margin: 0 0 24px 0; padding: 0;
  text-transform: uppercase;
}

.base-formulario .form-custom input,
.base-formulario .form-custom textarea {
  width: 100%;
  background-color: #ffffff;
  border: 0px; outline: 0;
  margin: 0 0 12px 0; padding: 18px 12px;
}

.base-formulario .form-custom textarea {
  resize: none;
  min-height: 144px;
}

.base-formulario .form-custom input::placeholder,
.base-formulario .form-custom textarea::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  color: #323232;
  font-family: 'Merriweather', serif;
}

.base-formulario .form-custom.radio {
  display: flex;
  align-items: center;
}

.base-formulario .form-custom.radio input[type="radio"] {
  -webkit-appearance: none;
  position: relative;
  outline: none;
  float: left;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  width: 18px; height: 18px;
  overflow: hidden;
  margin: 0px 0 0 0; padding: 0;
  border-radius: 50%; cursor: pointer;
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
}

.base-formulario .form-custom.radio input[type="radio"]:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  border: 2px solid #ffffff;
  background-color: transparent;
  transform: scale(0);
  transition: all .2s ease;
  transform-origin: center;
}

.base-formulario .form-custom.radio input[type="radio"]:checked:after {
  background-color: #71caf3;
  transform: scale(1);
}

.base-formulario .form-custom.radio input[type="radio"] + label {
  font-size: 12px;
  margin: 4px 0 0 0;
  color: #858585;
  font-weight: bold;
  transition: all .3s ease;
}

.base-formulario .form-custom.radio input[type="radio"]:checked + label {
  font-weight: bold;
  color: #323232;
}

.base-formulario .form-custom.checkbox {
  display: flex;
  align-items: center;
}

.base-formulario .form-custom.checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  outline: none;
  float: left;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  width: 18px; height: 16px;
  overflow: hidden;
  margin: 0px 0 0 0; padding: 0;
  border-radius: 0px; cursor: pointer;
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
}

.base-formulario .form-custom.checkbox input[type="checkbox"]:after {
  position: absolute;
  content: "";
  border-radius: 0;
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  border: 2px solid #ffffff;
  background-color: transparent;
  transform: scale(0);
  transition: all .2s ease;
  transform-origin: center;
}

.base-formulario .form-custom.checkbox input[type="checkbox"]:checked:after {
  background-color: #71caf3;
  transform: scale(1);
}

.base-formulario .form-custom.checkbox input[type="checkbox"] + label {
  font-size: 11px;
  margin: 4px 0 0 0;
  color: #858585;
  font-weight: bold;
}

.base-formulario .form-custom.file .cv-button {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 12px 0;
    padding: 16px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #a3a3a3;
    text-transform: uppercase;
}

.base-formulario .form-custom.file .cv-button input[type="file"] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.base-formulario button {
  width: 100%;
  text-align: center;
  padding: 16px 12px;
  border: 0; outline: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #2c8db5;
}

.base-formulario button p {
  flex: 4;
  text-align: left;
}

.base-perfil-completo {
  text-align: center;
  margin: 60px 0 0 0; padding: 0;
}

.base-perfil-completo .base-circle {
  width: 100%;
}

.base-perfil-completo .base-circle .c100 {
  float: none !important;
  margin: 0 auto !important;
}

.base-perfil-completo h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 18px 0; padding: 0;
}

.base-perfil-completo p {
  font-size: 12px;
}












