body {
  color: #323232;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

h1, h2, h3, h5, p {
  margin: 0; padding: 0;
}

.base-top-bar {
  padding: 12px 0;
  background-color: #ffffff;
}

.base-top-bar ul {
  list-style: none;
  margin: 0; padding: 0;
}

.base-top-bar ul li {
  margin: 0 12px 0 0;
  display: inline-block;
}

.base-top-bar ul li a {
  color: #b0b4c1;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
}

.base-top-bar ul li a.active {
  font-weight: bold;
}

.base-header {
  padding: 18px 0;
  position: relative;
  border-top: 4px solid #1b6685;
  background-color: #ffffff;
  z-index: 2;
} 

.base-logo-menu {
  display: flex;
  align-items: center;
}

.base-logo-menu .menu {
  overflow: hidden;
  position: relative;
  width: 36px; height: 18px;
  z-index: 2;
}

.base-logo-menu .menu div:nth-child(1) {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 2px;
  background-color: #858585;
}

.base-logo-menu .menu div:nth-child(2) {
  position: absolute;
  top: 8px; left: 0;
  width: 100%; height: 2px;
  background-color: #858585;
}

.base-logo-menu .menu div:nth-child(3) {
  position: absolute;
  top: 16px; left: 0;
  width: 100%; height: 2px;
  background-color: #858585;
}

.base-logo-menu .logo {
  margin: 0 0 0  24px;
}

.base-logo-menu .logo img {
  width: 100%;
}

.base-header .base-register-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.base-header .base-register-login a {
  display: block;
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0px;
  text-transform: uppercase;
  background-color: transparent;
}

.base-header .base-register-login a.btn-white {
  color: #1b6685;
  margin: 0 18px 0 0;
}

.base-header .base-register-login a.btn-blue {
  color: #ffffff;
  background-color: #2c8db5;
}

.base-banner-interno {
  position: relative;
  text-align: center;
  margin: 0 0 60px 0;
  padding: 0 0 48px 0;
  background-size: cover;
  background-attachment: fixed;
  background-color: #323232;
  width: 100%; height: auto;
}

.base-banner-interno .overlay {
  position: absolute;
  background-color: rgba(0,0,0,.4);
  width: 100%; height: 100%;
  z-index: 1;
}

.base-banner-interno .base-content {
  color: #ffffff;
  position: relative;
  margin: 60px 0 0 0;
  z-index: 2;
}

.base-banner-interno .base-content h1 {
  margin: 0; padding: 0;
  font-weight: bolder;
  text-transform: uppercase;
}

.base-banner-interno .base-content .busca-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-banner-interno .base-content .busca-banner .form-custom {
  flex: 4;
  margin: 18px 0 0 0;
}

.base-banner-interno .base-content .busca-banner .form-custom:nth-child(3) {
  flex: 1;
}

.base-banner-interno .base-content .busca-banner input {
  width: 100%;
  font-style: italic;
  color: #323232;
  font-family: 'Merriweather', serif;
  margin: 0; padding: 12px;
  border: 0; outline: 0px;
}

.base-banner-interno .base-content .busca-banner .form-custom:nth-child(1) input {
  border-right: 2px solid #cccccc;
}

.base-banner-interno .base-content .busca-banner button {
  width: 100%;
  margin: 0; padding: 12px;
  border: 0px; outline: 0px;
  background-color: #d70d2a;
}

.base-filtro-busca {

}

.base-filtro-busca .btn {
  width: 100%;
  padding: 12px 0;
  color: #ffffff;
  display: block;
  border-radius: 0px;
  text-transform: uppercase;
}

.base-filtro-busca .btn.btn-light {
  position: relative;
  background-color: #71caf3;
}

.base-filtro-busca .btn.btn-light .counter {
  position: absolute;
  width: 24px; height: 24px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  background-color: #2c8db5;
  top: 9px; right: 18px;
  padding: 2px;
}

.base-filtro-busca .resultados {
  margin: 36px 0 0 0;
}

.base-filtro-busca .resultados h4 {
  font-size: 18px;
  color: #4c4c4c;
  margin: 0 0 18px 0; padding: 0;
}

.base-filtro-busca .resultados h4 span {
  font-size: 24px;
  font-weight: bold;
}

.base-filtro-busca .resultados ul {
  list-style: none;
  margin: 0; padding: 0;
}

.base-filtro-busca .resultados ul .tag {
  color: #ffffff;
  position: relative;
  width: auto;
  display: inline-block;
  margin: 0 0 6px 0;
  padding: 6px 30px 6px 8px;
  background-color: #2c8db5;
}

.base-filtro-busca .resultados ul .tag a.erase {
  position: absolute;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  top: 8px; right: 8px;
  text-decoration: none;
}

.base-filtro-busca .item {
  margin: 36px 0 0 0;
  padding: 0 0 18px 0;
  border-bottom: 1px solid #cccccc;
}

.base-filtro-busca .item .btn-collapse {
  width: 100%;
  display: block;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #4c4c4c;
  text-transform: uppercase;
  background-color: transparent;
}

.base-filtro-busca .item .well {
  box-shadow: none;
  margin: 0; padding: 12px 0 0 0;
  border: 0px; border-radius: 0px;
}

.base-filtro-busca .item .well .form-custom {
  margin: 12px 0 0 0;
}

.base-filtro-busca .item .well .form-custom input {
  -webkit-appearance: none;
  position: relative;
  outline: none;
  float: left;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  width: 18px; height: 18px;
  margin: 0px 0 0 0; padding: 0;
  border-radius: 0px;
  cursor: pointer;
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
}

.base-filtro-busca .item .well .form-custom input[type="checkbox"]:after {
  position: absolute;
  content: "";
  border-radius: 0;
  width: 10px; height: 10px;
  margin: 3px 3px; padding: 0;
  background-color: transparent;
  transform: scale(0);
  transition: all .2s ease;
  transform-origin: center;
}

.base-filtro-busca .item .well .form-custom input[type="checkbox"]:checked:after {
  background-color: #71caf3;
  transform: scale(1);
}

.base-filtro-busca .item .well .form-custom input[type="checkbox"] + label {
  float: left;
  cursor: pointer;
  margin: 0px 0 0 12px; padding: 0;
  font-size: 14px;
  color: #4c4c4c;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}













