body {
  color: #323232;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

h1, h2, h3, h5, p {
  margin: 0; padding: 0;
}

.btn-custom {
  display: block;
  border-radius: none;
  width: auto;
  font-weight: bold;
  padding: 18px 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-custom.small {
  font-size: 12px;
  padding: 10px 12px;
}

.btn-custom:hover {
  text-decoration: none;
}

.btn-custom.blue {
  color: #ffffff;
  background-color: #2c8db5;
}

.base-top-bar {
  padding: 12px 0;
  background-color: #ffffff;
}

.base-top-bar ul {
  list-style: none;
  margin: 0; padding: 0;
}

.base-top-bar ul li {
  margin: 0 12px 0 0;
  display: inline-block;
}

.base-top-bar ul li a.active {
  font-weight: bold;
}

.base-top-bar ul.links-menu {
  margin: 6px 0 0 0;
}

.base-top-bar ul.links-menu li a {
  color: #b0b4c1;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
}

.base-top-bar ul.social-menu {
  text-align: right;
}

.base-top-bar ul.social-menu li a {
  font-size: 24px;
  color: #2d8db5;
}

.base-top-bar ul.social-menu li:last-child {
  margin: 0;
}

.base-header {
  padding: 18px 0;
  position: relative;
  border-top: 4px solid #1b6685;
  background-color: #ffffff;
  z-index: 2;
} 

.base-logo-menu {
  display: flex;
  align-items: center;
}

.base-logo-menu .menu {
  overflow: hidden;
  position: relative;
  width: 36px; height: 18px;
  z-index: 2;
}

.base-logo-menu .menu div:nth-child(1) {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 2px;
  background-color: #858585;
}

.base-logo-menu .menu div:nth-child(2) {
  position: absolute;
  top: 8px; left: 0;
  width: 100%; height: 2px;
  background-color: #858585;
}

.base-logo-menu .menu div:nth-child(3) {
  position: absolute;
  top: 16px; left: 0;
  width: 100%; height: 2px;
  background-color: #858585;
}

.base-logo-menu .logo {
  margin: 0 0 0  24px;
}

.base-logo-menu .logo img {
  width: 100%;
}

.base-header .base-register-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.base-header .base-register-login a {
  display: block;
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0px;
  text-transform: uppercase;
  background-color: transparent;
}

.base-header .base-register-login a.btn-white {
  color: #1b6685;
  margin: 0 18px 0 0;
}

.base-header .base-register-login a.btn-blue {
  color: #ffffff;
  background-color: #2c8db5;
}

.base-rodape {
  background-color: #f8f8f8;
  margin: 24px 0 0 0; padding: 24px 0 36px 0;
}

.base-rodape ul {
  list-style: none;
  margin: 0; padding: 0px;
}

.base-rodape ul li {
  font-size: 12px;
  display: inline-block;
  margin: 0 24px 0 0; padding: 0;
}

.base-rodape ul li a {
  color: #323232;
  text-decoration: none;
}

.base-bar-action {
  display: flex;
  align-items: center;
}

.breadcrumb.custom {
  font-size: 13px;
  margin: 24px 0 12px 0; padding: 0;
}

.breadcrumb.custom li.active {
  font-weight: bold
}

.breadcrumb.custom a {
  text-decoration: none;
}

.breadcrumb.custom a i {
  font-size: 15px;
}








