/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .header {
	    text-align: center;
	    color: #ffffff;
	}

	.base-menu {
	    padding: 60px 48px;
	}

	.h-100pc {
		height: auto;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	.header {
	    text-align: center;
	    color: #ffffff;
	}

	.base-menu {
	    padding: 60px 48px;
	}

	.h-100pc {
		height: auto;
	}



}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.h-100pc {
		height: auto;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.base-infos .skills {
		background: #323232;
		padding: 60px 24px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}