html {
  width: 100%; height: 100%;
}

body {
  position: relative;
  width: 100%; height: 100%;
  background-color: #faf2e7;
}

h1, h2, h3, h5, p {
  margin: 0; padding: 0;
}

.darth-vader {
  position: absolute;
  bottom: 0; right: 0;
  width: 640px; height: 720px;
  background-image: url(../assets/img/darth-bg.png);
  background-repeat: no-repeat;
}

.base-logo {
  margin: 24px 0 0 0;
}

.base-logo img {
  width: 100%;
}

.base-menu-lateral { 
  border-radius: 8px;
  background-color: #ffffff;
  margin: 24px 0 0 0;  padding: 48px 36px;
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
}

.base-menu-lateral h1 {
  color: #858585;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 12px 0;
}

.base-menu-lateral h1 span {
  font-size: 30px;
}

.base-menu-lateral h2 {
  font-size: 18px;
}

.base-menu-lateral .base-localizacao {
  margin: 18px 0 0 0;
}

.base-menu-lateral .base-localizacao h5 {
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}

.base-menu-lateral .base-botoes {
  margin: 12px 0 18px 0;
}

.base-menu-lateral a {
  font-size: 14px;
  margin: 12px 0 0 0;
  cursor: pointer;
}

.base-menu-lateral p.contato {
  font-size: 12px;
}

.base-conteudo {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
  margin: 24px 0 0 0; padding: 48px 36px;
}

.base-conteudo p {
  font-size: 14px;
  line-height: 24px;
  margin: 12px 0 18px 0;
}

.base-conteudo h5 {
  color: #858585;
  margin: 18px 0 24px 0;
}

.base-conteudo button {
  cursor: pointer;
}

.base-conteudo .base-expand {
  margin: 18px 0;
}

.base-conteudo .base-expand ul {
  list-style: none;
  margin: 0 0 18px 0; padding: 0;
}


/******** MODAL ********/


.modal .base-contato {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #cccccc;
}






