/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

	.modal.fade .modal-dialog {
	    width: 94%;
	}

	.modal-header .unit-icon {
		display: none;
	}


	.content-rarity {
	    width: 100%;
	    height: 840px;
	    position: relative;
	}

	.modal-body .base-unit-view .base-tables {
	    height: 456px;
	}

	.modal-body .base-unit-view .base-tables .tab-content {
	    max-height: 408px;
	    overflow: scroll;
	}

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { 

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { ... }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) { ... }